* {
  --body-bg: #111;
  --table-bg: #111;
  --code-bg: #1a1a1a;

  --table-border: #717171;
  --table-header: #ddd;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 2%;
  padding: 0;
  display:flex;
  justify-content: center;
  font-family: monospace;
  background: var(--body-bg);
  color: #ddd;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: var(--table-bg);
  border-color: var(--table-border);
}

th {
  background-color: var(--table-header);
}

tr.falsecs-example {
  height: 70%;
}

tr.falsecs-docs {
  height: 30%;
}

td {
  padding: 0;
  vertical-align: middle;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: black;
}

canvas {
  image-rendering: pixelated;
  max-width: 100%;
  max-height: 100%;
}

pre {
  margin: 0;
  padding: 12px;
  overflow-y: auto;
  box-sizing: border-box;
  white-space: pre-wrap;
  border-width: 1px;
  border-style: dashed;
  border-color: var(--table-border);
  background-color: var(--code-bg);

  font-size: 10pt;
  text-align: start;
}

